.Home .heroContent, .About {
    color: #000;
}
.Home .heroContent button {
    border: 1px solid #000;
    border-radius: 2px;
    padding: 5px 15px;
    background-color: #fff;
}

/* About */
.About {
    margin-top: 150px;
}
.About .content {
    padding-left: 80px; 
}
.About img {
    max-width: 25%;
}


/* Responsiveness */

@media screen and (max-width: 1024px) {
    /* About */
    .About #parent {
        display: flex;
        flex-direction: column;
    }
    .About .content {
        padding: 40px; 
    }
}

@media screen and (max-width: 768px) {
        /* Home */
        .Home #parent p {
            font-size: 13px;
        }
}